@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;400;500&family=Teko:wght@500;600;700&display=swap");

:root {
  --blue-primary: rgb(0, 169, 221);
  --blue-light: rgb(103, 220, 255);
  --blue-dark: rgb(0, 123, 160);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(61, 61, 61);
}
.loading-animation {
  margin: 150px auto 0px auto;
  border: 8px solid var(--blue-dark);
  border-top-color: var(--blue-light);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: 2s linear infinite;
  animation-name: spin;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Navbar styles */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
  padding: 24px;
}
.title {
  font-family: "Teko", sans-serif;
  color: var(--blue-primary);
  font-size: 48px;
  font-weight: 700;
}
.title:hover,
.title:active {
  cursor: pointer;
}
.navbar-container form {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.input-field {
  width: 100%;
  min-width: 200px;
  padding: 6px;
  font-size: 22px;
  color: rgb(78, 78, 78);
  border: none;
  border-radius: 0.25rem;
}
.input-field:focus {
  outline: none;
  border: none;
}
.btn-search {
  background-color: var(--blue-primary);
  border: none;
  border-radius: 0.25rem;
  min-width: 45px;
  min-height: 45px;
  margin-left: 10px;
}
.btn-search:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}
.btn-search:active {
  cursor: pointer;
  background-color: var(--blue-dark);
}
.react-icon {
  vertical-align: middle;
  font-size: 22px;
  color: white;
}
.btn-container {
  display: flex;
  width: 15%;
  min-width: 200px;
  flex-direction: row;
  justify-content: space-between;
}
.btn-link {
  color: white;
  background-color: var(--blue-primary);
  border-radius: 0.25rem;
  width: 48%;
  min-width: 80px;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 6px;
  text-align: center;
}
.btn-link:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}

.btn-link:active {
  cursor: pointer;
  background-color: var(--blue-dark);
}

/* Main Grid/Results Styles */

h4 {
  color: white;
  font-size: 38px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 400;
  line-height: 18px;
}
.results-main {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  align-items: flex-start;
}
.movie-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.grid-item {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 250px;
  color: white;
  justify-content: space-between;
  transition: width 0.2s, height 0.2s, margin 0.2s;
}
.grid-item:hover {
  cursor: pointer;
  position: relative;
  height: 365px;
  width: 265px;
  margin: -15px;
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 1);
  border-radius: 0.5rem;
}

.grid-item img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  height: 85%;
}
.grid-item-info {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 5px;
  height: 15%;
  background-color: rgb(0, 169, 221);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Saira Condensed", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-item-info h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
}

/* Movie Details Page */

.movie-details-container {
  font-family: "Saira Condensed", sans-serif;
  display: flex;
  flex-direction: row;
  width: 55%;
  margin: 35px auto 0px auto;
}

.movie-details-container img {
  width: 40%;
  object-fit: cover;
}
.movie-details-info {
  margin-left: 20px;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.movie-details-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--blue-primary);
}
.movie-details-info h5 {
  color: var(--blue-primary);
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
}
.movie-details-info p {
  color: white;
  line-height: 21px;
  font-weight: 100;
  font-size: 20px;
}
.movie-details-info button {
  margin-top: 15px;
  color: white;
  width: 50%;
  background-color: var(--blue-primary);
  border-radius: 0.5rem;
  border: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 10px;
  text-align: center;
  align-self: flex-end;
}
.movie-details-info button:hover {
  background-color: var(--blue-light);
  cursor: pointer;
}
.movie-details-info button:active {
  background-color: var(--blue-dark);
  cursor: pointer;
}
/* About Page Styles */

.about-main {
  font-family: "Saira Condensed", sans-serif;
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 40px auto 0px auto;
  font-weight: 100;
  font-size: 30px;
  align-items: flex-start;
}
.about-main h4 {
  color: var(--blue-primary);
}

.about-main button {
  margin-top: 30px;
  color: white;
  background-color: var(--blue-primary);
  border-radius: 0.5rem;
  border: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 10px;
  text-align: center;
}

.about-main button:hover {
  background-color: var(--blue-light);
  cursor: pointer;
}
.about-main button:active {
  background-color: var(--blue-dark);
  cursor: pointer;
}

/* Genres Page Styles */

.genres-container {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.btn-genre {
  margin-top: 20px;
  margin-right: 10px;
  color: white;
  background-color: var(--blue-primary);
  border-radius: 0.5rem;
  border: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
  width: 100px;
  font-weight: 500;
  padding: 6px 10px;
  text-align: center;
}

.btn-genre:hover {
  background-color: var(--blue-light);
  cursor: pointer;
}
.btn-genre:active {
  background-color: var(--blue-dark);
  cursor: pointer;
}

/* Error Page */

.btn-error {
  margin-top: 15px;
  color: white;
  width: 10%;
  background-color: var(--blue-primary);
  border-radius: 0.5rem;
  border: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding: 6px 10px;
  text-align: center;
}
.btn-error:hover {
  cursor: pointer;
  background-color: var(--blue-light);
}
.btn-error:active {
  cursor: pointer;
  background-color: var(--blue-dark);
}

/* Transition style */

@media only screen and (max-width: 1621px) {
  .movie-grid {
    grid-template-columns: auto auto auto auto;
  }
  .movie-details-container {
    width: 70%;
  }
  .movie-details-container img {
    width: 50%;
    object-fit: cover;
  }
  .movie-details-info {
    margin-left: 10px;
    width: 55%;
  }
}

/* Tablet Transition Styles */

@media only screen and (max-width: 1339px) {
  .results-main {
    width: 100%;
  }
  .movie-details-container {
    width: 85%;
  }
  .movie-details-container img {
    width: 60%;
    object-fit: cover;
  }
  .movie-details-info {
    margin-left: 10px;
    width: 40%;
  }
  .about-main {
    width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  .movie-grid {
    grid-template-columns: auto auto auto;
  }
  .btn-container {
    flex-direction: column;
    width: 10%;
    min-width: 100px;
    align-items: center;
  }
  .btn-link {
    margin: 0 0 10px 0;
  }
  .about-main {
    width: 80%;
  }
}

@media only screen and (max-width: 807px) {
  .movie-grid {
    grid-template-columns: auto auto;
  }
  .btn-container {
    flex-direction: column;
    width: 10%;
    min-width: 100px;
  }
  .btn-link {
    margin: 10px 10px 0 0;
  }
  .movie-details-container {
    width: 95%;
  }
  .movie-details-container img {
    width: 50%;
  }
  .movie-details-info {
    width: 50%;
  }

  h4 {
    line-height: 40px;
  }
  .about-main {
    padding: 7px;
    width: 100%;
  }
}

@media only screen and (max-width: 725px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .btn-container {
    flex-direction: row;
  }
}
@media only screen and (max-width: 530px) {
  .movie-grid {
    grid-template-columns: auto;
    justify-content: center;
  }
  .navbar-container {
    padding: 7px 7px 20px 7px;
  }
  .results-main {
    padding: 7px;
    align-items: center;
  }
  .genres-container {
    justify-content: center;
  }
  .movie-details-container {
    flex-direction: column;
    width: 100%;
  }
  .movie-details-container img {
    width: 100%;
  }
  .movie-details-info {
    width: 100%;
  }
}
